.searchBar-wrap{
    display:flex;
    align-items: center;
    border-bottom: 1px solid red;
    padding: 1.5rem 1rem ;
}

.searchBar-icon{
    color:brown;
    margin-right: 2rem;
}

.searchBar-wrap input{
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 100%;
}

.searchBar-wrap input::placeholder{
    color: rgb(169, 113, 113);
}
