@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*selecting elements and their psudo selectors */
*,
*::after,
*::before{
  margin: 0;
}


body{
  font-family: 'Dancing Script', cursive;
  font-family: 'Inter', sans-serif;
}

input {
  font-family: 'Dancing Script', cursive;
  font-family: 'Inter', sans-serif;
}

/*Work only on Chrome, Sfari, Opera*/
::-webkit-scrollbar{
  display: none;  /*hides the scroll bar*/
}

body{
 -ms-overflow-style: none; /* Work on Internet Explorer and Edge*/
 scrollbar-width: none; /* work for Firefox */
}